<div style="display: flex; flex-direction: column; color: green; text-align:center">
    <p>Name: @ViewData["name"]</p>
    <p>Surname: @ViewData["surname"]</p>
    <p>Age: @ViewData["age"]</p> 
</div>